// Scss for _startpage.scss

.container {
  h1 {
    text-align: center;
  }
}

.form-box {
  align-items: center;

  .group-form {
    align-items: center;

    .form-input {
      width: 200px;
      margin-top: 20px;
    }
  }
}

.join-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rules {
  h2 {
    text-align: center;
  }
}
