// Scss for _startpage.scss

.container {
  h1 {
    text-align: center;
  }
}

.button-box {
  align-items: center;
}

.join-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rules {
  h2 {
    text-align: center;
  }
}
