.App {
  text-align: center;
}

html,
body {
  height: 100%;
  background-color: rgb(52, 120, 223);
  background: rgb(38, 134, 210);
  background: linear-gradient(
    180deg,
    rgba(38, 134, 210, 1) 0%,
    rgba(197, 236, 240, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}

#App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gameboard {
  display: flex;
  justify-content: center;
}

button {
  width: 100%;
  height: 100%;
  border-radius: 0;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: none;
  border: 1px solid rgb(192, 192, 192);
  opacity: 0.7;
  background-color: rgb(255, 255, 255);
}

.active {
  background-color: chartreuse;
}

.miss {
  background-color: red;
}

.hit {
  border: 4px solid red;
}

.water {
  background-color: yellow;
}

button:hover {
  opacity: 1;
}

.rad {
  display: inline;
}

.gameUI {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.square {
  width: 4em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.turn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.alert {
  width: 90%;
  text-align: center;
}

.opponent {
  margin-top: 7.9%;
}
